.header {
  background-color: white;
  border-bottom: 1px solid var(--color-card-border);
}

.brand {
  text-align: center;
  color: var(--color-gray-500);
}
.brand a {
  text-decoration: none;
  display: inline-block;
}
.brandPersian {
  font-size: 1.8em;
  font-weight: bold;
  padding: 8px 0;
  display: inline-block;
  font-family: "Sahel";
}
.brandPersian:hover {
  color: black;
}
.brandEn {
  font-size: 12px;
  color: #9ca3af;
}
.brandEn:hover {
  color: black;
}

@media print {
  .header {
    display: none;
  }
}
